// Managed via Home Manager as the macOS Zellij config.

copy_command "pbcopy"
default_layout "default"
scroll_buffer_size 99000
show_startup_tips false
theme "one-half-light"

keybinds {
    tab {
        bind "Shift h" "Shift k" { MoveTab "Left"; }
        bind "Shift j" "Shift l" { MoveTab "Right"; }
    }

    shared_except "tmux" "locked" {
        unbind "Ctrl b"
    }
}
