// Managed via Home Manager as the Linux Zellij config.

default_layout "welcome_screen"
show_startup_tips false
theme "one-half-light"

keybinds {
    tab {
        bind "Shift h" "Shift k" { MoveTab "Left"; }
        bind "Shift j" "Shift l" { MoveTab "Right"; }
    }

    shared_except "tmux" "locked" {
        unbind "Ctrl b"
    }
}
