// Managed via Home Manager as the Zellij config.
__PLATFORM_SETTINGS__default_layout "default"
scroll_buffer_size 99000
session_serialization false
show_startup_tips false
theme "__COMMON_THEME__"

keybinds {
    tab {
        bind "Shift h" "Shift k" { MoveTab "Left"; }
        bind "Shift j" "Shift l" { MoveTab "Right"; }
    }

    shared_except "tmux" "locked" {
        unbind "Ctrl b"
    }
}
