// Managed via Home Manager as the macOS Zellij config.

copy_command "pbcopy"
default_layout "welcome"
show_startup_tips false
theme "one-half-light"

keybinds {
    shared_except "tmux" "locked" {
        unbind "Ctrl b"
    }
}
