themes {
    one-half-light {
        text_unselected {
            base 79 82 94
            background 245 245 245
            emphasis_0 214 93 14
            emphasis_1 1 132 188
            emphasis_2 80 161 79
            emphasis_3 193 132 1
        }
        text_selected {
            base 56 58 66
            background 191 206 255
            emphasis_0 214 93 14
            emphasis_1 1 132 188
            emphasis_2 80 161 79
            emphasis_3 193 132 1
        }
        ribbon_selected {
            base 56 58 66
            background 253 253 253
            emphasis_0 228 86 73
            emphasis_1 214 93 14
            emphasis_2 80 161 79
            emphasis_3 1 132 188
        }
        ribbon_unselected {
            base 79 82 94
            background 250 250 250
            emphasis_0 228 86 73
            emphasis_1 214 93 14
            emphasis_2 80 161 79
            emphasis_3 1 132 188
        }
        table_title {
            base 1 132 188
            background 0
            emphasis_0 214 93 14
            emphasis_1 1 132 188
            emphasis_2 80 161 79
            emphasis_3 193 132 1
        }
        table_cell_selected {
            base 56 58 66
            background 191 206 255
            emphasis_0 214 93 14
            emphasis_1 1 132 188
            emphasis_2 80 161 79
            emphasis_3 193 132 1
        }
        table_cell_unselected {
            base 56 58 66
            background 250 250 250
            emphasis_0 214 93 14
            emphasis_1 1 132 188
            emphasis_2 80 161 79
            emphasis_3 193 132 1
        }
        list_selected {
            base 56 58 66
            background 191 206 255
            emphasis_0 214 93 14
            emphasis_1 1 132 188
            emphasis_2 80 161 79
            emphasis_3 193 132 1
        }
        list_unselected {
            base 56 58 66
            background 250 250 250
            emphasis_0 214 93 14
            emphasis_1 1 132 188
            emphasis_2 80 161 79
            emphasis_3 193 132 1
        }
        frame_selected {
            base 1 132 188
            background 0
            emphasis_0 214 93 14
            emphasis_1 1 132 188
            emphasis_2 193 132 1
            emphasis_3 0
        }
        frame_highlight {
            base 214 93 14
            background 0
            emphasis_0 193 132 1
            emphasis_1 1 132 188
            emphasis_2 214 93 14
            emphasis_3 80 161 79
        }
        exit_code_success {
            base 80 161 79
            background 0
            emphasis_0 1 132 188
            emphasis_1 250 250 250
            emphasis_2 193 132 1
            emphasis_3 66 123 88
        }
        exit_code_error {
            base 228 86 73
            background 0
            emphasis_0 214 93 14
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 1 132 188
            player_2 80 161 79
            player_3 214 93 14
            player_4 228 86 73
            player_5 66 123 88
            player_6 193 132 1
            player_7 229 192 123
            player_8 79 82 94
            player_9 160 161 167
            player_10 157 157 159
        }
    }
}
